@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        opacity: 0.5;
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0rem);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        opacity: 0.5;
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0rem);
    }

}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 1;
        transform: translate(0rem);
    }
}

@media only screen and (max-width: 700px){
    html{
        font-size: 5.8px;
    }
    body{
        padding: 2rem;
    }
}
