body{
    font-family: 'Lato', 'san-serif';
    font-weight: 400;
    color: $color-text-gray;
    line-height: 1.7;
    padding: 3rem;
}

.heading-box{
    color: $color-text-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6.0rem;
    z-index: 33;

    &--primary{
        display: block;
        font-weight: 400;
        font-size: 6.0rem;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub{
        display:block;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
    
}
