.composition{
    position: relative;

    &__photo{
        position: absolute;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: .5rem;
        transition: all .2s;
        z-index: 10;
        outline-offset: 1.6rem;

        &--p1{
            top: -2rem;
            left: 0;
        }

        &--p2{
            top: 2rem;
            right: 0;
        }

        &--p3{
            top: 10rem;
            left: 20%;
        }

        &:hover{
            outline: 1.6rem solid $color-primary-medium;
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
            transform: scale(1.1) translateY(-1rem);
        }    
    }
    
    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}